ul.nav.nav-pills li a {
  color: #fff;
}

.cart-dropdown {
  display: block;
  width: 600px;
  height: 400px;
  position: relative;
  z-index: 4000;
  top: 0;
  left: -400px;
  margin-bottom: -500px;
}

div.dropdown-menu.show {
  left: -557px;
  width: 670px;
  color: black;
  font-size: .9rem;
  max-height: 681px;
}

.container-fluid {
  height: 478px;
  overflow-y: scroll;
}

span.input-group-text, .alert.alert-secondary {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
