<!-- Possible Notifications can go here -->
<ul class="nav nav-tabs navbar-light" style="background-color: #e3f2fd;">
  <li class="nav-item">
    <a class="nav-link" href="#">Beacon</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="#">Beacon Pro+</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Beacon 3D+</a>
  </li>

  <!-- Search -->
  <li>
    <div style="padding-top: 6px; padding-left: 677px;">
      <form class="form-inline my-2 my-lg-0" (click)="toggleSearch()">
        <input
          [ngStyle]="{'visibility': searchVisibility ? 'visible' : 'hidden'}"
          size="38"
          class="form-control form-control-sm mr-sm-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <i class="fa fa-search fa-lg text-secondary" style="cursor: pointer;"></i>
        &nbsp; &nbsp;
      </form>
    </div>
  </li>

</ul>

<!-- Search Menu with Logo -->

<!-- Remove Empty Menu Links used as spacer for now -->
<nav class="navbar navbar-dark bg-dark">
  <!--  TODO: Fixed: remove this empty menu and float pills menu right -->
  <ul class="nav nav-pills">
    <li class="nav-item">
      <img width="155" src="../../assets/images/beacon-logo-new.png" />
    </li>
  </ul>

  <!-- User Menu -->
  <ul class="nav nav-pills" style="font-size: 0.8075rem;">
    <li class="nav-item">
      <div class="dropdown btn-sm">
        <button
          class="btn btn-primary btn-sm dropdown-toggle"
          type="button"
          id="dropdownMenuButton"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <b>{{ "DENVER" }}</b> &nbsp;| &nbsp;Switch Account
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>
    </li>
    <li class="nav-item btn-sm">
      <button class="btn btn-primary btn-sm" href="#">Order History</button>
    </li>
    <li class="nav-item btn-sm">
      <button class="btn btn-primary btn-sm" href="#">Templates</button>
    </li>
    <li>
      <!-- Cart Preview Button Starts Here -->
      <div class="dropdown btn-sm">
        <button
          class="btn btn-secondary btn-sm dropdown-toggle"
          type="button"
          id="dropdownMenuButton"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <i class="fa fa-shopping-cart"></i>&nbsp;Cart
        </button>
        <!-- Cart Preview Layout -->
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <div
            class="col"
            style="
              border-bottom: solid thin #e8e8e8;
              margin-bottom: 0px;
              display: block;
            "
          >
            <h5>
              <b>Shopping Cart</b>&nbsp;<span class="badge badge-primary">{{
                total | async
              }}</span>
            </h5>
          </div>
          <!-- Filter Search Frame -->
          <div class="col">
            <form #f>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="fa fa-filter fa-sm"></i
                  ></span>
                </div>
                <input
                  type="text"
                  class="form-control filter"
                  aria-label="Amount (to the nearest dollar)"
                  #searchText
                  name="searchText"
                  [(ngModel)]="form.searchText"
                  placeholder="Type here to filter shopping cart"
                />
                <!-- Filter Search -->
                <div class="input-group-append">
                  <span class="input-group-text">
                    {{
                      (
                        cartPreview
                        | async
                        | filterSearch
                          : form.searchText
                          : "itemOrProductDescription"
                      )?.length
                    }}</span
                  >
                </div>
              </div>
            </form>
          </div>
          <!-- Cart Preview -->
          <div class="col-lg-12" *ngIf="(cartPreview | async)?.length > 0">
            <div class="row"></div>
          </div>

          <!-- Order Summary -->
          <div
            class="alert alert-secondary"
            style="border-top: solid thin #9a9a9a38; margin-bottom: 0"
          >
            <div class="text-right">
              <div>Other Charges:</div>
              <div>Items:</div>
              <p>
                <b class="text-primary">SUBTOTAL:</b> Will be calculated at the
                time of invoicing.
              </p>
              <button
                type="button"
                class="btn btn-secondary"
                routerLink="/cart"
              >
                <i class="fa fa-shopping-cart"></i>
                &nbsp; View Shopping Cart
              </button>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</nav>

<!-- Bread Crumbs Menubar -->
<app-bread-crumbs></app-bread-crumbs>

<!-- Menu -->
<nav
  class="nav"
  style="
    align-items: center;
    justify-content: center;
    border-bottom: solid thin #e8e8e8;
    margin-bottom: 15px;
    margin-top: -12px;
  "
>
  <a class="nav-link active" href="#">Roofing</a>
  <a class="nav-link" href="#">Siding</a>
  <a class="nav-link" href="#">Gutters</a>
  <a class="nav-link disabled" href="#">Insulation</a>
  <a class="nav-link" href="#">Waterproofing</a>
  <a class="nav-link" href="#">Tools & Equipment</a>
  <a class="nav-link" href="#">Building Materials</a>
  <a class="nav-link" href="#">Solar Energy</a>
  <a class="nav-link" href="#">Industries</a>
  <a class="nav-link" href="#">Brands</a>
</nav>
