ul.nav.nav-pills li a {
  color: #fff;
}

.cart-dropdown {
  display: block;
  width: 600px;
  height: 400px;
  background-color: yellow;
  position: relative;
  z-index: 4000;
  top: 0;
  left: -400px;
  margin-bottom: -500px;
}

div.dropdown-menu.show {
  left: -557px;
  width: 670px;
  color: black;
}

.container-fluid {
  height: 555px;
  overflow-y: scroll;
}
