ul.nav.nav-pills li a {
  color: #fff;
}

.cart-dropdown {
  display: block;
  width: 600px;
  height: 400px;
  background-color: yellow;
  position: relative;
  z-index: 4000;
  top: 0;
  left: -400px;
  margin-bottom: -500px;
}

a.cart-trigger {
  width: 84 px;

  &:hover + div {
    display: block;
  color: red;
  }
}

/* a.cart-trigger:hover + .cart-dropdown {
  display: block;
  color: red;
} */
