input {
  width: 44px;
  font-size: .8rem;
  text-align: center;
  font-weight: normL;
  border: solid thin #cccaca;
  height: 36px;
  padding: 0
}

/* .fa.fa-minus.fa-sm {
  display: none;
  padding: 5px 8px;
  font-weight: bold;
  cursor: poiner;
} */


