.btn-group {
  // justify-content: flex-end;
  button {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

div.alert.alert-warning {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.badge.badge-primary {
  font-size: 0.975rem;
}

.list-group {
  border-bottom: solid thin #e6e6e6;
}
.list-group-item {
  border-bottom: none;
  border-radius: 0;
}

/* nav.nav-item btn-sm > ul > li button {
  font-size: 1.5rem;
} */
