.col.btn-group {
  justify-content: flex-end;
  button {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.line-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  * {
    margin-right: 12px;
  }
}

.badge.badge-primary {
  font-size: .975rem;
}
