<div class="row">
  <div class="col-md-12">
    <p>
      <i class="fa fa-shopping-cart"></i>&nbsp;
      <span class="h5">Shopping Cart</span>
      &nbsp;
      <span class="badge badge-primary">{{ (cartItems | async)?.length }}</span>
    </p>
  </div>

  <ng-template #spinner>
    <div class="col-12">
      <app-spinner></app-spinner>
    </div>
  </ng-template>

  <!-- Search Input -->
  <ng-container>
    <div class="col-sm-12 col-lg-9">
      <div class="row">
        <!-- Input -->
        <div class="col">
          <app-filter-input></app-filter-input>
        </div>
        <div class="col btn-group">
          <button
            type="button"
            (click)="fetchProducts()"
            class="btn btn-primary"
            data-toggle="modal"
            data-target="#productModel"
          >
            <b>ADD PRODUCT</b>&nbsp; <i class="fa fa-plus-square fa-lg"></i>
          </button>
          <button type="button" class="btn btn-secondary">
            <b>PICK FROM TEMPLATE</b>
          </button>
        </div>
      </div>

      <!-- Empty Cart  -->

      <ng-template #emptyMsg class="alert alert-warning">
        <div class="alert alert-warning">
          <div>Click the <b>ADD PRODUCT</b> button to populate cart.</div>
        </div>
      </ng-template>

      <!-- Cart Line Items -->
      <ng-container *ngIf="(cartItems | async)?.length > 1; else emptyMsg">
        <div
          class="list-group-item line-item"
          *ngFor="
            let item of cartItems
              | async
              | filterSearch: searchTxt:'itemOrProductDescription'
          "
        >
          <img [src]="item.product" class="rounded" />
          <div>{{ item.details.itemOrProductDescription }}</div>
          <div>#{{ item.details.productId }}</div>
          <div (click)="deleteItem(item)" class="float-right col-1">
            <i class="fa fa-trash"></i>
          </div>
        </div>
      </ng-container>
    </div>

    <div class="col-sm-12 col-lg-3 sidebar">
      <div class="row">
        <app-sidebar></app-sidebar>
      </div>
    </div>
  </ng-container>
</div>
