<div class="row">

  <div class="col-12">
    <p>
      <i class="fa fa-shopping-cart"></i>&nbsp;
      <span class="h5">Shopping Cart</span>
    </p>
  </div>

  <div class="col-9 line-items">
    <div class="list-group">
      <div class="list-group-item">
        <div class="btn-group float-right">
          <button type="button" class="btn btn-primary">Add Product</button>
          <button type="button" class="btn btn-secondary">Pick From Template</button>
        </div>
      </div>

      <div class="list-group-item" *ngFor="let item of cart | async">
        <div class="col-2">
          <img [src]="item.product" width="66" />
        </div>
        <div class="col-2">
          <img [src]="item.product" width="66" />
        </div>
        <div class="col-2">
          <img [src]="item.product" width="66" />
        </div>
      </div>
    </div>
  </div>

  <div class="col-3 sidebar">
    <app-order-summary></app-order-summary>
  </div>

</div>
