<!-- Add primary classes here -->
<div
  class="alert"
  [ngClass]="{
    'alert-info': alertStatus.value.status === 'info',
    'alert-success': alertStatus.value.status === 'success',
    'alert-danger': alertStatus.value.status === 'danger',
    'alert-warning': alertStatus.value.status === 'warning'
   }"
    *ngIf="alertStatus.value.msg"
>
  <div>
    <strong>Alert:</strong> &nbsp;
    <span>{{ alertStatus.value.msg }}</span>
  </div>
</div>


<!-- Create instance to that multiple alerts can show -->
