<!-- Add primary classes here -->
<ng-container *ngIf="alertList.length > 0">
  <div *ngFor="let alertL of alertList"
    class="alert" [ngClass]="{
    'alert-info': alertL.status === 'info',
    'alert-success': alertL.status === 'success',
    'alert-danger': alertL.status === 'danger',
    'alert-warning': alertL.status === 'warning'
   }"
  >
    <div>
      <strong>Message:</strong> &nbsp;
      <span>{{ alertL.msg }}</span>
      &nbsp;
      <span>{{ (progressNow * 10) / 10 }} %</span>
    </div>
    <div class="progress" style="height: 5px; border-radius: 0;">
      <div class="progress-bar bg-success" role="progressbar" style="border-radius: 0;"
        [ngStyle]="{'width': progressNow + '%'}" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </div>
</ng-container>

<!-- <div class="alert" [ngClass]="{
    'alert-info': alertStatus.value.status === 'info',
    'alert-success': alertStatus.value.status === 'success',
    'alert-danger': alertStatus.value.status === 'danger',
    'alert-warning': alertStatus.value.status === 'warning'
   }">
  <div>
    <strong>Message:</strong> &nbsp;
    <span>{{ alertStatus.value.msg }}</span>
    &nbsp;
    <span>{{ (progressNow * 10) / 10 }} %</span>
  </div>
  <div class="progress" style="height: 5px; border-radius: 0;">
    <div class="progress-bar bg-success" role="progressbar" style="border-radius: 0;"
      [ngStyle]="{'width': progressNow + '%'}" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
</div> -->


<!-- Create instance to that multiple alerts can show -->
<!-- Restart progressNow (0) onSubsequent deletes and stack messages-->
