.alert.alert-info,
.alert.alert-success,
.alert.alert-info,
.alert.alert-danger {
  border-radius: 0px;
  margin-top: -16px;
}

.progress {
  opacity: .5;
  margin-left: -30px;
  margin-right: -30px;
  // margin-bottom: -17px;
  position: relative;
  top: 17px;
}
