<ng-container *ngIf="(products | async)?.length > 0; else spinner">
  <div class="row panel">
    <div class="col-lg-12">
      <div class="row" style="height: 220px;">
        <div
          *ngFor="let product of products | async"
          class="col-lg-3 mb-2"
          style="padding-top: 4px; padding-bottom: 4px;"
          data-toggle="tooltip"
          title="Select to add to cart"
        >
          <app-img-product-thumb-with-selection
            [product]="product"
          ></app-img-product-thumb-with-selection>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #spinner>
  <app-spinner></app-spinner>
</ng-template>
