<!-- <div class="row">
  <div class="col-lg-12 mb-3" *ngFor="let item of selectedProducts$ | async">
    <img [src]="item.product" style="float: left" />
    <div>{{ item.details.itemOrProductDescription }}</div>
    <div>{{ item.details.productId }}</div>
    <div> {{ item.price.unitPrice }} / {{ item.price.uom }}</div>
    <div>{{ item.qty }}</div>
    <div>{{ item.total }}</div>
  </div>
</div> -->

<div class="row">
  <div class="col-lg-12 mb-3" *ngFor="let item of selectedProducts$ | async">
  <div class="media">
    <img [src]="item.product" style="margin-right: 15px;"/>
    <div class="media-body">
      <h5 class="mt-0">{{ item.details.itemOrProductDescription}}</h5>
      <div class="row">
        <div class="col">{{  item.details.productId }}</div>
        <div class="col">{{ item.price.unitPrice }}</div>
        <div class="col"><b>Qty:</b> {{ item.qty }}</div>
        <div class="col">{{ item.total | currency }}</div>
        <div class="col-lg-1 offset-1 remove-icon"
          (click)="removeItemFromSelectedProducts(item)"><i class="fa fa-minus-square text-secondary float-lg-left"></i></div>
      </div>
    </div>
  </div>
  </div>
</div>

