.alert-container {
  margin-top: -16px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.flush {
  position: relative;
  top: 17px;
  margin-right: -15px;
  margin-left:  -15px;
  opacity: .4;
}
