<!-- Add primary classes here -->
<ng-container>
  <div
    class="alert" [ngClass]="{
    'alert-info': alertItem.status === 'info',
    'alert-success': alertItem.status === 'success',
    'alert-danger': alertItem.status === 'danger',
    'alert-warning': alertItem.status === 'warning'
   }"
  >
    <div>
      <strong>Message:</strong> &nbsp;
      <span>{{ alertItem.msg }}</span>
      &nbsp;
      <!-- <small>{{ (progressNow * 10) / 10 }} %</small> -->
    </div>
    <div class="progress" style="height: 5px; border-radius: 0;">
      <div class="progress-bar bg-success" role="progressbar" style="border-radius: 0;"
        [ngStyle]="{'width': progressNow + '%'}" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </div>
</ng-container>
